.main-container{
    width: 70vw;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow: auto;
    cursor: grab;
    background-color: #272b2e;
}

.genre-container{
    margin: 0 0 4rem 0;
}

.album-container{
    display: flex;
    margin: 0 .5rem 0 .5rem;
    gap: 2rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.genre-title{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin: 0 0 0 .5rem;
}

.album-container__home{
    margin: 1rem;
}
.album-card{
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.main-container::-webkit-scrollbar{
    display: none;
}
