.add-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.add-title{
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.add-preview-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .add-form {
    height: 550px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #2C5364 ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .text-input {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #fff;
    background: #2C5364 ;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
  }
  .file-input {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .album-preview {
    height: 550px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #2C5364 ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .album-title__preview,
  .album-artist__preview {
    margin: 0;
  }
  .image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
  }
  
  .album-rating__preview,
  .album-genre__preview,
  .album-year__preview {
    margin: 0;
  }

  .album-rating__preview {
    margin: 0;
    width: 150px; 
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 3rem;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .album-genre{
    margin-top: 2rem;
  }

.btn-container{
  text-align: center;
  margin-top: 20px;
}
.btn {
  background-color: #fff;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 700;
}