.album-container{
    padding: 0;
    margin: 0;
}

.album-cover{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.genre-container{
    margin-bottom: 2rem;
    overflow-x: auto;
}
.genre-box{
    display: flex;
    gap: 1rem;
}
.genre-title{
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #fff;
}