.main-container__album{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #1f2833;
    color: #fff;
    border-radius: 1rem;
    margin: 2rem 5rem 0 5rem;
}

.title-container__album{
    margin: 1rem 0 1rem 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.title__album{
    font-size: 5rem;
    margin: 0;
    text-align: center;
    color: #66fcf1;
}

.artist__album{
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: underline;
    margin: 0;
    text-align: center;
}

.back-icon__album, .user-icon__album{
    font-size: 3rem;
    margin: 0;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease-in-out;
    margin: 1rem 2rem 0 2rem;
    
}

.image-container__album{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
}


.rating__album{
    font-size: 4rem;
    font-weight: 400;
    padding: 2rem 2.5rem 2rem 2.5rem;
    border: 5px solid black;
    border-radius: 100%;
    border-color: #66fcf1;
    color: #66fcf1;
    margin: 0 0 1rem 0;
}

.info-container__album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre__album, .release-year__album{
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}

.function-container{
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%; 
    margin: 4rem 0 2rem 0;
}

.edit-icon svg{
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}
