@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Poppins:wght@300;400;500;600&display=swap');
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0b0c10;
}

.page-wrapper{
  margin: 1rem;
  display: flex;
  height: 95vh;
  overflow: hidden;
}


.navbar-container, .main-container, .side-container, .album-container, .add-container, .album-preview{
  background-color: #1f2833;
}


/* Grid CSS */
.page-wrapper {
  display: grid;
  gap: 1rem;
}

.navbar-container{
  grid-row: 1 / span 2;
  grid-column: 1;
}

.header-container{
  grid-row: 1;
  grid-column: 2;
}
.add-container{
  grid-row: 1;
  grid-column: 2;
}
.album-preview{
  grid-row: 1;
  grid-column: 3;
}


