.header-container{
    background-color: #1f2833;
    width: 100%;
    border-radius: 0.5rem;
    display: grid;
}

.header-title{
    font-size: 4rem;
    font-weight: 400;
    margin: 0 2rem 0 0;
    justify-self: end;
    color: #66fcf1;
}
