.page-wrapper__home {
  overflow: hidden;
  margin: 1rem;
}

.main-container{
  width: 100%;
  border-radius: 0.5rem;
  overflow: auto;
  cursor: grab;
}
.main-container::-webkit-scrollbar{
  display: none;
}