a{
    text-decoration: none;
    color: black;
}

.album-container__home{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.album-card__home{
    grid-column: auto /span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.album-title__home{
    font-size: 1.5rem;
    text-align: center;
}

.album-cover__home{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.album-artist__home{
    font-size: 1rem;
    font-weight: 200;
}